<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NYTimesArticles.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>109099F12E4A030400ED89FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10909A072E4A030600ED89FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10909A112E4A030600ED89FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
